body,
h1,
h2,
h3 {
    font-family: Forum, cursive
}

.box,
.container,
.language {
    border-radius: 10px;
    padding: 20px
}

body,
ul {
    margin: 0
}

.container,
option,
select {
    background-color: #fff
}

.container,
nav {
    max-width: 800px
}

.accordion-content.show,
nav a {
    display: block
}

a,
nav a,
nav a:hover {
    text-decoration: none
}

body {
    background-color: #f2f2f2;
    padding: 0;
    color: #333
}

.container {
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    background-color: #343a40;
    text-align: center
}

.box h2 {
    color: #fff
}

.languages {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px
}

.language {
    flex: 0 0 auto;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    width: 45%;
    max-width: 400px
}

.targets,
footer,
nav {
    background-color: #343a40
}

.language-list,
ul {
    list-style-type: none;
    padding: 0
}

.releases,
.w3-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1)
}

@media (max-width:768px) {
    .languages {
        flex-direction: column;
        align-items: center
    }

    .language {
        width: 100%;
        max-width: none
    }
}

.language-icon {
    font-size: 48px;
    margin-bottom: 20px
}

.language h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333
}

.language-list {
    text-align: left
}

.language-list li {
    margin-bottom: 10px;
    color: #666
}

.complement-text {
    margin-top: 20px;
    font-size: 18px;
    color: #555
}

.targets {
    color: #fff;
    padding-bottom: 20px;
    font-weight: 700
}

.tag,
li {
    margin-bottom: 5px
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
    color: #333
}

.tag,
input[type=radio]+label {
    border-radius: 5px;
    color: #333
}

select:focus {
    outline: 0;
    border-color: #f0ad4e
}

input[type=radio] {
    display: none
}

input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    margin-right: 10px
}

input[type=radio]:checked+label {
    background-color: #f0ad4e;
    color: #000
}

input[type=radio]+label:hover {
    background-color: #e0e0e0
}

.tag-container {
    display: none;
    margin-top: 10px
}

.tag {
    padding: 5px 10px;
    background-color: #f0ad4e;
    margin-right: 5px;
    display: inline-block
}

.release,
.releases {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px
}

.tag-container.vertical .tag {
    display: block;
    margin-bottom: 5px
}

.icon {
    margin-right: 10px
}

a {
    color: #007bff
}

a:hover {
    text-decoration: underline
}

.release {
    background-color: #f2f2f2
}

.release h3 {
    margin-top: 0
}

.latest-release,
.package-table th {
    background-color: #f0ad4e;
    font-weight: 700
}

.package-table {
    border-collapse: collapse;
    width: 60%;
    margin: auto
}

.title,
.w3-card {
    margin-bottom: 20px
}

.package-table td,
.package-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left
}

.package-table tr{
    background-color: #f9f9f9
}

.accordion-button,
.package-table tr:hover {
    background-color: #f2f2f2
}

.w3-card {
    border-radius: 10px;
    transition: .3s
}

.w3-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
}

.accordion-button {
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    position: relative
}

.subtitle,
.title,
footer,
nav a {
    text-align: center
}

.accordion-button::after {
    content: "\25BA";
    position: absolute;
    right: 20px
}

.accordion-content {
    display: none;
    padding: 20px
}

.accordion-button.active::after {
    content: "\25BC"
}

.title {
    margin-top: 50px;
    color: #333
}

.subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    color: #666
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0
}

footer a {
    color: #f0ad4e
}

nav {
    overflow: hidden;
    margin: 0 auto
}

nav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 20px;
    width: calc(100% / 4)
}

nav a:hover {
    background-color: #f0ad4e;
    color: #333
}