<footer class="w3-text-white w3-mobile">
    <p>Mustafif Khan | Licensed under <a
            href="https://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a>
        | Personal : <a
            href="https://mustafif.com">mustafif.com</a></p>
</footer>