<!DOCTYPE html>
<html lang="en">
    {% set title = "" %}
    {% set subtitle = "Mufi-Lang with Ziggyness" %}
    {% include "head" %}
    <body>
        {% include "nav" %}

        <div class="w3-container container w3-mobile">
            <div class="w3-card box w3-mobile">
                <h2 class="w3-text-white">Core Languages</h2>
                <div class="languages" id="languages">
                    <div class="language w3-mobile">
                        <i
                            class="devicon-zig-original colored language-icon"></i>
                        <h2>Zig</h2>
                        <ul class="language-list">
                            <li>Modern, expressive syntax</li>
                            <li>Focus on safety and performance</li>
                            <li>Efficient memory management with comptime
                                features</li>
                            <li>Easy cross-compilation</li>
                            <li>Build caching for faster compilation times</li>
                        </ul>
                    </div>
                    <div class="language w3-mobile">
                        <i class="devicon-c-plain language-icon"></i>
                        <h2>C</h2>
                        <ul class="language-list">
                            <li>Suitable for compiler design due to its
                                simplicity and low-level features.</li>
                            <li>Compilers built in C are highly portable across
                                different platforms.</li>
                            <li>Efficient memory management and runtime
                                performance are crucial for compiler tasks.</li>
                            <li>Standard libraries in C provide essential
                                functionalities for compiler
                                implementation.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w3-card box targets w3-mobile">
                <h2>Supported Targets</h2>
                <input type="radio" id="windows" name="target">
                <label class="w3-margin" for="windows">Windows</label>
                <input type="radio" id="linux" name="target">
                <label class="w3-margin" for="linux">Linux</label>
                <input type="radio" id="macos" name="target">
                <label class="w3-margin" for="macos">MacOS</label>
                <input type="radio" id="webassembly" name="target">
                <label class="w3-margin" for="webassembly">WebAssembly</label>

                <div class="tag-container" id="windowsTags">
                    {% for w in windows_targets %}
                    <span class="tag">{{w}}</span>
                    {% endfor %}
                </div>
                <div class="tag-container" id="linuxTags" class="vertical">
                    {% for l in linux_targets %}
                    <span class="tag">{{l}}</span>
                    {% endfor %}
                </div>
                <div class="tag-container" id="macosTags" class="vertical">
                    {% for m in macos_targets %}
                    <span class="tag">{{m}}</span>
                    {% endfor %}
                </div>
                <div class="tag-container" id="webassemblyTags"
                    class="vertical">
                    <span class="tag">was32-wasi</span>
                </div>
            </div>

            <div class="w3-card w3-mobile">
                <button onclick="toggleAccordion('packageAccordion')"
                    class="accordion-button w3-large"
                    id="accordionButton">Packages</button>
                <div id="packageAccordion" class="accordion-content">
                    <table class="package-table">
                        <thead>
                            <tr>
                                <th>Target</th>
                                <th>Zip</th>
                                <th>Deb</th>
                                <th>RPM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in packages %}
                            <tr>
                                <td>{{ p.target }}</td>
                                <td>{% if p.zip %}<a
                                        href="{{ p.zip }}">Download</a>{% else
                                    %}N/A{% endif %}</td>
                                <td>{% if p.deb %}<a
                                        href="{{ p.deb }}">Download</a>{% else
                                    %}N/A{% endif %}</td>
                                <td>{% if p.rpm %}<a
                                        href="{{ p.rpm }}">Download</a>{% else
                                    %}N/A{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w3-card box releases w3-mobile">
                <h2>Releases</h2>
                {% for r in releases %}
                {% if r.status == "Latest" %}
                <div class="latest-release release">
                    {%else %}
                    <div class="release">
                        {% endif %}

                        <h3>{{r.version}} {{r.codename}} Release</h3>
                        <p><strong>Status:</strong> {{r.status}}</p>
                        <p><a href="{{r.link}}"><i class="fab fa-github"></i>
                                View
                                Release</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                var radioButtons = document.querySelectorAll('input[name="target"]');
                radioButtons.forEach(function(button) {
                    button.addEventListener('change', function() {
                        var target = this.id;
                        var tagContainers = document.querySelectorAll('.tag-container');
                        tagContainers.forEach(function(container) {
                            container.style.display = 'none';
                        });
                        var selectedContainer = document.getElementById(target + 'Tags');
                        if (selectedContainer) {
                            selectedContainer.style.display = 'block';
                        }
                    });
                });
                function toggleAccordion(id) {
                    var x = document.getElementById(id);
                    var button = document.getElementById("accordionButton");
                    if (x.classList.contains("show")) {
                        x.classList.remove("show");
                        button.classList.remove("active");
                    } else { 
                        x.classList.add("show");
                        button.classList.add("active");
                    }
                }
        </script>
        {% include "footer" %}
        </body>
    </html>
