<!DOCTYPE html>
<html lang="en">
    {% set title = "" %}
    {% set subtitle = "Mufi-Lang with Ziggyness" %}
    {% include "head" %}
    <body>
        {% include "nav" %}

        <div class="w3-container container w3-mobile">
            <div class="w3-card box w3-mobile">
                <h2 class="w3-text-white">Mufi-Lang?</h2>
                <p class="w3-text-white">Mufi-Lang is a toy programming language
                    developed using Zig
                    and C. It is dynamic and object-oriented, with a primary
                    goal of providing a platform that ensures memory safety and
                    facilitates incremental improvement in functionality.
                    Mufi-Lang is designed for general-purpose applications and
                    offers developers a playground for experimentation while
                    prioritizing robustness and versatility. Our vision for the
                    future includes incorporating more mathematical aspects into
                    the language and enhancing its applicability to diverse
                    computational domains.
                </p>
            </div>

            <div class="w3-card box w3-mobile">
                <h2 class="w3-text-white">Core Languages</h2>
                <div class="languages" id="languages">
                    <div class="language w3-mobile">
                        <i
                            class="devicon-zig-original colored language-icon"></i>
                        <h2>Zig</h2>
                        <ul class="language-list">
                            <li>Modern, expressive syntax</li>
                            <li>Focus on safety and performance</li>
                            <li>Efficient memory management with comptime
                                features</li>
                            <li>Easy cross-compilation</li>
                            <li>Build caching for faster compilation times</li>
                        </ul>
                    </div>
                    <div class="language w3-mobile">
                        <i class="devicon-c-plain language-icon"></i>
                        <h2>C</h2>
                        <ul class="language-list">
                            <li>Suitable for compiler design due to its
                                simplicity and low-level features.</li>
                            <li>Compilers built in C are highly portable across
                                different platforms.</li>
                            <li>Efficient memory management and runtime
                                performance are crucial for compiler tasks.</li>
                            <li>Standard libraries in C provide essential
                                functionalities for compiler
                                implementation.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w3-card box targets w3-mobile">
                <h2>Supported Targets</h2>
                <input type="radio" id="windows" name="target">
                <label class="w3-margin" for="windows">Windows</label>
                <input type="radio" id="linux" name="target">
                <label class="w3-margin" for="linux">Linux</label>
                <input type="radio" id="macos" name="target">
                <label class="w3-margin" for="macos">MacOS</label>

                <div class="tag-container" id="windowsTags">
                    {% for w in windows_targets %}
                    <span class="tag">{{w}}</span>
                    {% endfor %}
                </div>
                <div class="tag-container" id="linuxTags" class="vertical">
                    {% for l in linux_targets %}
                    <span class="tag">{{l}}</span>
                    {% endfor %}
                </div>
                <div class="tag-container" id="macosTags" class="vertical">
                    {% for m in macos_targets %}
                    <span class="tag">{{m}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="w3-card w3-mobile">
                <button onclick="toggleAccordion('packageAccordion')"
                    class="accordion-button w3-large"
                    id="accordionButton"
                    style="background-color: #f0ad4e;">Packages</button>
                <div id="packageAccordion" class="accordion-content">
                    <table class="package-table">
                        <thead>
                            <tr>
                                <th>Target</th>
                                <th>Zip</th>
                                <th>Deb</th>
                                <th>RPM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in packages %}
                            <tr>
                                <td>{{ p.target }}</td>
                                <td>{% if p.zip %}<a
                                        href="{{ p.zip }}"><i
                                            class="fa-solid fa-download"></i></a>{%
                                    else
                                    %}N/A{% endif %}</td>
                                <td>{% if p.deb %}<a
                                        href="{{ p.deb }}"><i
                                            class="fa-solid fa-download"></i></a>{%
                                    else
                                    %}N/A{% endif %}</td>
                                <td>{% if p.rpm %}<a
                                        href="{{ p.rpm }}"><i
                                            class="fa-solid fa-download"></i></a>{%
                                    else
                                    %}N/A{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Manual Installation</h2>
                <div class="w3-panel w3-red">
                    <p><strong>As of Version 0.6.0 Changes to Release System</strong></p>
                </div>

                <h3>Debian Package</h3>
                <p>Download the latest DEB package and use the following
                    commands: </p>
                <pre
                    class="language-bash"><code>$ sudo dpkg -i mufiz_{version}_{arch}.deb</code></pre>

                <h3>RPM Package</h3>
                <p>Download the latest RPM package and use the following
                    commands: </p>
                <pre
                    class="language-bash"><code>$ sudo rpm -i mufiz_{version}-1.{arch}.rpm</code></pre>

                <h3>Linux/MacOS Zip</h3>
                <p>Download the latest zip package and use the following
                    commands: </p>
                <pre
                    class="language-bash"><code>$ unzip mufiz_{version}_{target}.zip
$ sudo mv mufiz /usr/local/bin</code></pre>

                <h3>Windows</h3>
                <ol>
                    <li>Download the <code>mufiz_{version}_{target}.zip</code>
                        file from the releases page.</li>
                    <li>Extract the zip file to a directory of your choice.</li>
                    <li>Add the directory to your PATH environment
                        variable.</li>
                    <li>Open a new terminal and run <code>mufiz --version</code>
                        to verify the installation.</li>
                </ol>
            </div>

            <div class="w3-card box">
                <h2>Package Manager Installation</h2>

                <div class="w3-text-white">
                    <button class="w3-button w3-block w3-round"
                        style="background-color: #f0ad4e; width: 75%; color: black;margin-right: auto; margin-left: auto;"
                        onclick="toggleAccordionPM('apt')"><h6><strong>APT</strong></h6></button>
                    <div id="apt" class="w3-hide w3-container">
                        <p>We host our official APT repository on Github and can
                            be found at <a
                                href="https://github.com/mustafif/MufiZ-APT">https://github.com/mustafif/MufiZ-APT</a></p>
                        <p>Run the following commands to add the repository and
                            install Mufi-Lang:</p>
                        <pre
                            class="language-bash"><code>$ echo "deb [arch={arch}, trusted=yes] https://mustafif.github.io/Mufi-APT mufiz main" | sudo tee /etc/apt/sources.list.d/mufiz.list
$ sudo apt update && sudo apt upgrade
$ sudo apt install mufiz</code></pre>
                        <p>Where <code>{arch}</code> is the architecture of your
                            system.</p>
                        <div class="w3-centered">
                            <table class="w3-table w3-border"
                                style="width: 50%; margin-right: auto; margin-left: auto;">
                                <thead>
                                    <tr>
                                        <th><strong>Supported
                                                Architectures</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td><code>amd64</code></td></tr>
                                    <tr><td><code>i386</code></td></tr>
                                    <tr><td><code>arm64</code></td></tr>
                                    <tr><td><code>mipsel</code></td></tr>
                                    <tr><td><code>mips64el</code></td></tr>
                                    <tr><td><code>mips64</code></td></tr>
                                    <tr><td><code>mips</code></td></tr>
                                    <tr><td><code>powerpc</code></td></tr>
                                    <tr><td><code>powerpc64</code></td></tr>
                                    <tr><td><code>powerpc64le</code></td></tr>
                                    <tr><td><code>riscv64</code></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br />

                    <button class="w3-button w3-block w3-round"
                        style="background-color: #f0ad4e; width: 75%; color: black;margin-right: auto; margin-left: auto;"
                        onclick="toggleAccordionPM('scoop')"><h6><strong>SCOOP</strong></h6></button>
                    <div id="scoop" class="w3-hide w3-container">
                        <p>We host our own Scoop Bucket at <a
                                href="https://github.com/Mustafif/mufi-bucket">https://github.com/Mustafif/mufi-bucket</a></p>
                        <p>Run the following commands to add the bucket and
                            install Mufi-Lang:</p>
                        <pre
                            class="language-powershell"><code>$ scoop bucket add mufi-bucket https://github.com/mustafif/mufi-bucket
$ scoop install mufi-bucket/MufiZ</code></pre>
                    </div>

                    <br />

                    <button class="w3-button w3-block w3-round"
                        style="background-color: #f0ad4e; width: 75%; color: black;margin-right: auto; margin-left: auto;"
                        onclick="toggleAccordionPM('brew')"><h6><strong>BREW</strong></h6></button>
                    <div id="brew" class="w3-hide w3-container">
                        <p>We host our own Homebrew Tap at <a
                                href="https://github.com/Mustafif/homebrew-mufi">https://github.com/Mustafif/homebrew-mufi</a></p>
                        <p>Run the following commands to add the tap and
                            install Mufi-Lang:</p>
                        <pre
                            class="language-shell"><code>$ brew tap mustafif/mufi
$ brew install MufiZ</code></pre>
                        We support the following targets:
                        <strong>x86_64-linux</strong>, <strong>aarch64-macos</strong>
                        (M-Series Macs) and <strong>x86_64-macos</strong> (Intel
                        Macs).
                    </div>
                </div>
            </div>

            <div class="w3-card box releases w3-mobile">
                <h2>Releases</h2>
                {% for r in releases %}
                {% if r.status == "Latest" %}
                <div class="latest-release release">
                    {%else %}
                    <div class="release">
                        {% endif %}

                        <h3>{{r.version}} {{r.codename}} Release</h3>
                        <p><strong>Status:</strong> {{r.status}}</p>
                        <p><a href="{{r.link}}"><i class="fab fa-github"></i>
                                View
                                Release</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <script>
                var radioButtons = document.querySelectorAll('input[name="target"]');
                radioButtons.forEach(function(button) {
                    button.addEventListener('change', function() {
                        var target = this.id;
                        var tagContainers = document.querySelectorAll('.tag-container');
                        tagContainers.forEach(function(container) {
                            container.style.display = 'none';
                        });
                        var selectedContainer = document.getElementById(target + 'Tags');
                        if (selectedContainer) {
                            selectedContainer.style.display = 'block';
                        }
                    });
                });
                function toggleAccordion(id) {
                    var x = document.getElementById(id);
                    var button = document.getElementById("accordionButton");
                    if (x.classList.contains("show")) {
                        x.classList.remove("show");
                        button.classList.remove("active");
                    } else { 
                        x.classList.add("show");
                        button.classList.add("active");
                    }
                }
                function toggleAccordionPM(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                      x.className += " w3-show";
                    } else {
                      x.className = x.className.replace(" w3-show", "");
                    }
                  }
        </script>
            {% include "footer" %}
        </body>
    </html>
