<!DOCTYPE html>
<html lang="en">
    {% set title = "Language Reference" %}
    {% set subtitle = "Explore through the depths of Mufiness" %}
    {% include "head" %}
    <body>
        {% include "nav" %}

        {#
        What do we need...

        - Data Types
        - Primitives
        - Objects
        - Variables
        - Declaration
        - Assignment
        - Scope (Global, Local)
        - Control Structures
        - If-else
        - Loops
        - Functions
        - Function Declaration
        - Function Call
        - Function Arguments
        - Function Return
        - OOP (Classes, Objects, Inheritance)
        #}

        <div class="w3-container container w3-mobile">
            <div class="w3-container box w3-mobile">
                <h2>Data Types</h2>
                <table class="w3-table-all w3-mobile">
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Type</th>
                    </tr>
                    <tr>
                        <td>int</td>
                        <td>2/4 bytes</td>
                        <td>Primitive</td>
                    </tr>
                    <tr>
                        <td>double</td>
                        <td>8 bytes</td>
                        <td>Primitive</td>
                    </tr>
                    <tr>
                        <td>bool</td>
                        <td>1 byte</td>
                        <td>Primitive</td>
                    </tr>
                    <tr>
                        <td>complex</td>
                        <td>16 bytes</td>
                        <td>Primitive</td>
                    </tr>
                    <tr>
                        <td>string</td>
                        <td>variable</td>
                        <td>Object</td>
                    </tr>
                    <tr>
                        <td>array</td>
                        <td>variable</td>
                        <td>Object</td>
                    </tr>
                    <tr>
                        <td>linked list</td>
                        <td>variable</td>
                        <td>Object</td>
                    </tr>
                    <tr>
                        <td>hash table</td>
                        <td>variable</td>
                        <td>Object</td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="w3-container box">
                <h2>Operators</h2>
                <table class="w3-table-all w3-mobile">
                    <tr>
                        <th>Operator</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td>Addition</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Subtraction</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>Multiplication</td>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>Division</td>
                    </tr>
                    <tr>
                        <td>%</td>
                        <td>Modulus</td>
                    </tr>
                    <tr>
                        <td>==</td>
                        <td>Equality</td>
                    </tr>
                    <tr>
                        <td>!=</td>
                        <td>Inequality</td>
                    </tr>
                    <tr>
                        <td>&gt;</td>
                        <td>Greater than</td>
                    </tr>
                    <tr>
                        <td>&lt;</td>
                        <td>Less than</td>
                    </tr>
                    <tr>
                        <td>&gt;=</td>
                        <td>Greater than or equal to</td>
                    </tr>
                    <tr>
                        <td>&lt;=</td>
                        <td>Less than or equal to</td>
                    </tr>
                    <tr>
                        <td>!</td>
                        <td>Logical NOT</td>
                    </tr>
                    <tr>
                        <td>and</td>
                        <td>Logical AND</td>
                    </tr>
                    <tr>
                        <td>or</td>
                        <td>Logical OR</td>
                    </tr>
                    <tr>
                        <td>+=</td>
                        <td>Additonal Assignment</td>
                    </tr>
                    <tr>
                        <td>-=</td>
                        <td>Subtraction Assignment</td>
                    </tr>
                    <tr>
                        <td>*=</td>
                        <td>Multiplication Assignment</td>
                    </tr>
                    <tr>
                        <td>/=</td>
                        <td>Division Assignment</td>
                    </tr>
                    <tr>
                        <td>++</td>
                        <td>Increment</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>Decrement</td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="w3-container box w3-text-white">
                <h2>Variables</h2>
                <p>Variables are used to store data. They are declared using the
                    <code>var</code> keyword.</p> You may choose to initialize
                with
                a value or not. If not, the variable will be initialized with
                <code>nil</code>.
                <pre>
<code class="language-clike">var a = 10;
var b; // or var b = nil;</code></pre>
            

            <h3>Global and Local Scopes</h3>
            <p>Variables can be declared in the global scope or local scope.
                Global variables are declared outside of any function and can be
                accessed from anywhere in the program. Local variables are
                declared inside a function and can only be accessed within that
                function.</p>
            <pre>
<code class="language-clike">var a = 10; // Global
fun foo() {
    var b = 20; // Local
}
print b; // Undefined variable 'b'.</code></pre>
            <br>
</div>
        </div>
        <script src="/assets/prism.js"></script>
        {% include "footer" %}
    </body>
</html>
