<!DOCTYPE html>
<html lang="en">
    {% set title = "Standard Library" %}
    {% set subtitle = "Expand the world of possibilities!" %}
    {% include "head" %}
    {% include "nav" %}

    <body>
        <div class="w3-container container w3-mobile">
            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Standard Library</h2>
                <p>The Mufi-Lang standard library provides a wide range of
                    functionalities to facilitate the development of various
                    applications. The library is designed to be user-friendly
                    and
                    efficient, offering a comprehensive set of tools to enhance
                    the language's capabilities. The standard library is
                    continuously evolving, with new features and improvements
                    being added regularly to meet the diverse needs of
                    developers.
                </p>
                <h3>Multi-types Names</h3>
                <h6>Numeric: (Integer, Double, Complex)</h6>
                <h6>Collection: (Array, Linked List, Hash Table, FVec, Matrix)</h6>
                <h6>List: (Array, Linked List, FVec)</h6>
            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Math</h2>
                {% for m in math %}
                <div
                    class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                    <pre><code>{{m.signature}}</code></pre>
                    <p>{{m.description}}</p>
                    <p>Example Usage:</p>
                    <pre><code class="language-clike">{{m.example_usage}}</code></pre>
                </div>
                {% endfor %}

            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Conversions</h2>
                {% for c in conversion %}
                <div
                    class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                    <pre><code>{{c.signature}}</code></pre>
                    <p>{{c.description}}</p>
                    <p>Example Usage:</p>
                    <pre><code class="language-clike">{{c.example_usage}}</code></pre>
                </div>
                {% endfor %}
            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Time</h2>

                {% for t in time %}
                <div
                    class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                    <pre><code>{{t.signature}}</code></pre>
                    <p>{{t.description}}</p>
                    <p>Example Usage:</p>
                    <pre><code class="language-clike">{{t.example_usage}}</code></pre>
                </div>
                {% endfor %}

            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>File System</h2>
                {% for f in fs %}
                <div
                    class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                    <pre><code>{{f.signature}}</code></pre>
                    <p>{{f.description}}</p>
                    <p>Example Usage:</p>
                    <pre><code class="language-clike">{{f.example_usage}}</code></pre>
                </div>
                {% endfor %}
            </div>

            <div class="w3-card box w3-mobile w3-text-white">
                <h2>Collections</h2>
                {% for c in collections %}
                <div
                    class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                    <pre><code>{{c.signature}}</code></pre>
                    <p>{{c.description}}</p>
                    <p>Example Usage:</p>
                    <pre><code class="language-clike">{{c.example_usage}}</code></pre>
                </div>
                {% endfor %}
            </div>

            <div class="w3-card box w3-mobile">
                <h2 class="w3-text-white">Networking</h2>
                <p>Requires <code>enable_fs</code> feature that is only
                    available for Unix systems with cURL.</p>
                {# <table class="package-table">
                    <tr>
                        <th>Content Type</th>
                        <th>Integer Value</th>
                    </tr>
                    <tr>
                        <td>PlainText</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>HTML</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>JSON</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>XML</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>PDF</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>JPEG</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>PNG</td>
                        <td>6</td>
                    </tr>
                </table>
                <div class="w3-text-white">
                    <p>
                        The functions example usages are based off of testing
                        with a simple webserver which is found <a
                            href="https://github.com/Mustafif/methods_server">here!</a>
                        They are not guaranteed to work with all web servers,
                        that may require more complex content types, or other
                        headers. These functions are built for simple
                        requests and responses.
                    </p> #}
                    {% for n in net %}
                    <div
                        class="w3-border w3-border-white w3-round w3-padding w3-margin w3-mobile">
                        <pre><code>{{n.signature}}</code></pre>
                        <p>{{n.description}}</p>
                        <p>Example Usage:</p>
                        <pre><code class="language-clike">{{n.example_usage}}</code></pre>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <script src="/assets/prism.js"></script>
            {% include "footer" %}
        </body>
    </html>
